<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>

<body>

    <%- include('header.ejs') %>

    <main>
        <section class="choice">
            <form action="/sendImage" method="POST">
                <h1>Choose one</h1>
                <h2>Pick the one you like to most, to find your match!</h2>
                <div>


                    <img src=<%= data.imageUrl1 %> alt="image of car one">

                    <img src="images/icons/like.svg" alt="heart image">

                    <img src= <%= data.imageUrl2 %> alt="image of car two">

                </div>
                <!-- <a href="">Next question</a> -->
                <input type="hidden" name="imageClicked" id="id">
                <button type="submit">Next question</button>
            </form>
        </section>
    </main>


    <%- include('footer.ejs') %>
    <script src="/script/script.js"></script>
</body>

</html>